@page "/movies"
@using Microsoft.AspNetCore.Components.QuickGrid
@inject MovieBlazorApp.Data.MovieBlazorAppContext DB
@using MovieBlazorApp

<PageTitle>Index</PageTitle>

<h1>Movies</h1>

<p>
    <a href="movies/create">Add a Movie</a>
</p>

<QuickGrid Class="table" Items="DB.Movie">
    <PropertyColumn Property="movie => movie.Title" />
    <PropertyColumn Property="movie => movie.ReleaseDate" Title="Release Date"/>
    <PropertyColumn Property="movie => movie.Genre" />
    <PropertyColumn Property="movie => movie.Price" />

    <TemplateColumn Context="movie">
        <a href="@($"movies/edit?id={movie.Id}")">Edit</a> |
        <a href="@($"movies/details?id={movie.Id}")">Details</a> |
        <a href="@($"movies/delete?id={movie.Id}")">Delete</a>
    </TemplateColumn>
</QuickGrid>
